<div class="jumbotron center">
	<h1>About us</h1>
		<p>-We are working on our One Month Rails Pinteresting app!</p>
		<p>-We hope you will enjoy pinning your interests as much as we do!</p>
		<p>Click here to  <%= link_to "Learn More", "#", class: "btn btn-primary btn-lg" %></p>
</div>